.DS_Store
node_modules
/dist


#RSC 예시 node modules
./RSC예시/vue/node_modules
./RSC예시/node/node_modules

#RSC 예시 db secret
./RSC예시/node/config


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
